{% extends 'base.html' %}
{% load static %}

{% block scripts %}

<script src="{% static 'posts/main.js' %}" defer></script>

{% endblock scripts %}

{% block title %}
posts
{% endblock title %}

{% block body %}

<!-- {% for obj in qs %}

    {{obj.title}} - {{obj.body}}<br/>

{% endfor %} -->
<div id="spinner" class="text-center">
    <div class="spinner-border" role="status"></div>
</div>
<div id="post-box"></div>
<div class="text-center mb-3" id="end-box">
    <button class="btn btn-primary" id="load-btn">Load More</button>
</div>
{% endblock body %}